#x2 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#x5 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#auto {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#bonus {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}